@font-face {
  font-family: "bankGothic";
  src: url("fonts/bank gothic medium bt.ttf") format("truetype");
}

body {
  background-color: #283162;
  font-family: "bankGothic";
  color: #f6fff5;
}

.container {
  background-color: #1c1f3e;
  width: 1500px;
  height: 1000px;
  box-shadow: 0 15px 4em 1em #181727;
}

.nav-container{
  background-color: #747685;
  font-size: 30px;
  padding-top: 5px;
}

.nav-container ul li {
  margin: 0 20px;
}

.nav-container ul li .button{
  font-size: 30px;
  border-radius: 25px;
  height: 45px;
  margin-top: 18px;
  margin-left: 50px;
  padding: 0 40px 0 40px;
  background-color: #660066;
  border: none;
}

.nav-container ul li a {
  color: #000000;
  margin-top: 10px;
  height: 45px;
}

.nav-link:hover, .active{
  border-bottom: 3px solid #660066;
}

.button:hover{
  box-shadow: 0 0 1em 0.2em #f6fff5;
}

.game-title{
   width: 900px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 10px;
}


.game-container{
  width: 900px;
  margin: 0 auto;
  box-shadow: 0 15px 4em 1em #181727;
}

h1, h2, h3{
  margin-left: 10px;
}

img{
  margin-left: 10px;
}

#game, #menu, #juego {
  position: absolute;
  height: 700px;
  margin: 0 auto;
  background-color: #2e2e36;
}

#menu{
  left: 710px;
}

#game, #juego{
  overflow: hidden;
  width: 600px;
  box-shadow: 0 15px 4em 1em #181727;
  background-image: url("../image/icono.png");
  background-repeat: repeat;
  background-position: center;
}

#juego{
  position: absolute;
  overflow: hidden;
  background-image: url("../image/fog.png"), url("../image/ruta.png");
  background-size: cover, cover;
  background-repeat: repeat, repeat;
  background-position: center, center;
}

.background{
  animation: background-animation linear  8s infinite;
}

@keyframes background-animation {
  from{
    background-position: 0px 0px, 0px 0px;
  }
  to{
    background-position: 0px 2100px, 0px 4200px;
  }
}

#menu{
  width: 320px;
}

.score {
  margin: 50px 0;
}

#start {
  background-color: #f4cd41;
  color: black;
  font-size: 50px;
  margin: 0px 0 50px 20%;
}

#restart{
  margin: 0px 0 50px 35%;
}

.controls {
  margin-left: 10px;
}

.auto{
  position: absolute;
  width: 50px;
  height: 101px;
  bottom: 20px;
  left: 378px;
  background-image: url("../image/car.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.policia{
  position: absolute;
  width: 50px;
  height: 107px;
  background-image: url("../image/police.png");
  background-size: auto;
  background-repeat: no-repeat;
  bottom: 700px;
  left: 201px;
}

.animacionPolicia {
  animation: aparecer linear;
  animation-duration: 3s;
}

@keyframes aparecer {
  from {
    transform: translate();
  }

  to {
    transform: translate(0px, 800px);
  }
}

.explotar {
  width: 128px;
  height: 128px;
  background: url("../image/explosion2.png");
  animation: explosionX .5s steps(4) 4 none,
  explosionY 2s steps(4) 1 none;
}

@keyframes explosionX {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: -512px;
  }
}

@keyframes explosionY {
  from {
    background-position-y: 0px;
  }
  to {
    background-position-y: -512px;
  }
}

#loser{
  margin-left: 10%;
  margin-top: 50%;
  font-size: 100px;
  color: red;
  text-shadow: -5px -5px 5px black;
}
