@font-face {
  font-family: "bankGothic";
  src: url("fonts/bank gothic medium bt.ttf") format("truetype");
}

body {
  background-color: #283162;
  font-family: "bankGothic";
  color: #f6fff5;
}

.container {
  background-color: #1c1f3e;
  width: 1500px;
  height: 1000px;
  box-shadow: 0 15px 4em 1em #181727;
}

.nav-container{
  background-color: #747685;
  font-size: 30px;
  padding-top: 5px;
}

.nav-container ul li {
  margin: 0 20px;
}

.nav-container ul li .button{
  font-size: 30px;
  border-radius: 25px;
  height: 45px;
  margin-top: 18px;
  margin-left: 50px;
  padding: 0 40px 0 40px;
  background-color: #660066;
  border: none;
}

.nav-container ul li a {
  color: #000000;
  margin-top: 10px;
  height: 45px;
}

.nav-link:hover, .active{
  border-bottom: 3px solid #660066;
}

.button:hover{
  box-shadow: 0 0 1em 0.2em #f6fff5;
}

.game-title{
   width: 900px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 10px;
}


.game-container{
  width: 900px;
  margin: 0 auto;
  box-shadow: 0 15px 4em 1em #181727;
}

h1, h2, h3{
  margin-left: 10px;
}

img{
  margin-left: 10px;
}

#game, #menu, #juego {
  position: absolute;
  height: 700px;
  margin: 0 auto;
  background-color: #2e2e36;
}

#menu{
  left: 710px;
}

#game, #juego{
  overflow: hidden;
  width: 600px;
  box-shadow: 0 15px 4em 1em #181727;
  background-image: url("../image/icono.png");
  background-repeat: repeat;
  background-position: center;
}

#juego{
  position: absolute;
  overflow: hidden;
  background-image: url("../image/ruta.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.background{
  animation: background-animation linear  .8s infinite;
}

@keyframes background-animation {
  from{
    background-position: 0px 0px;
  }
  to{
    background-position: 0px 700px;
  }
}

#niebla{
  margin-left: 35px;
  position: absolute;
  width: 500px;
  height: 700px;
  background-image: url("../image/smoke.png");
  background-position: center;
  background-repeat: repeat;
}

.niebla{
  animation: niebla-animation linear .8s infinite;
}

@keyframes niebla-animation {
  from{
    background-position: 0px 700px;
  }
  to{
    background-position: 0px 0px;
  }
}

#menu{
  width: 320px;
}

.score {
  margin: 50px 0;
}

#start {
  background-color: #f4cd41;
  color: black;
  font-size: 50px;
  margin: 0px 0 50px 20%;
}

#restart{
  margin: 0px 0 50px 35%;
}

.controls {
  margin-left: 10px;
}

.auto{
  position: absolute;
  width: 50px;
  height: 101px;
  bottom: 20px;
  left: 378px;
  background-image: url("../image/car.png");
  background-size: auto;
  background-repeat: no-repeat;
}

.policia{
  position: absolute;
  width: 50px;
  height: 107px;
  background-image: url("../image/police.png");
  background-size: auto;
  background-repeat: no-repeat;
  bottom: 700px;
  left: 201px;
}

.animacionPolicia {
  animation: caer linear;
  animation-duration: 3s;
}

@keyframes caer {
  from {
    transform: translate();
  }

  to {
    transform: translate(0px, 800px);
  }
}

.explotar {
  width: 100px;
  height: 100px;
  background: url("../image/explosion2.png");
  animation: explosion 2s steps(4);
}

@keyframes explosion {
  0% {
    background-position-y: 0px;
    background-position-x: 0px;
  }
  100% {
    background-position-y: -512px;
    background-position-x: -512px;
  }
}

#loser{
  margin-left: 10%;
  margin-top: 50%;
  font-size: 100px;
  color: red;
  text-shadow: -5px -5px 5px black;
}
