#canvas{
  border: #000000 solid 1px;
  background-color: #151515;
  margin-top: 20px;
  margin-left: 80px;
}

#derecho, #izquierdo, #centro1, #centro2{
  margin-top: 20px;
}

.container{
  margin-left: 100px;
}

h1{
  text-align: center;
}
